@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Italiana&display=swap');

$bg-light-body: #f4f4f4;
$bg-black: #292929;

$cor-texto-escuro: #292929;
$cor-texto-claro: #f4f4f4;
$cor-principal: #74009f;
$cor-destaques: #b295f3;
$cor-destaques-02: #ae00ff;
$cor-destaques-amarelo: #f4bc5e;

$cor-botao-amarelo: #f4bc5e;
$cor-botao-roxo: #74009f;

$ff: Inter, 'Sans Serif';
$fs-body: 18px;
$fs-hero: 64px;
$fs-headings: 40px;
$fw-body: 400;
$fw-bold: 700;

$fs-headings-mobile: 24px;
$fs-body-mobile: 14px;
